# Data types in Python

In [1]:
2*2

4

In [2]:
6/2

3.0

In [3]:
1+1

2

In [4]:
4-1

3

In [5]:
4%2

0

In [6]:
10**2

100

In [7]:
10 * 'str__'

'str__str__str__str__str__str__str__str__str__str__'

In [8]:
# check Data type

In [9]:
type(1)

int

In [10]:
type("ML")

str

In [11]:
type(3.333)

float

In [14]:
type(4%2)

int

In [16]:
type(True)

bool

### Strings

In [17]:
"Hello" #in Double Quote

'Hello'

In [18]:
'Hello' #in Single Quote

'Hello'

In [19]:
type("Hello")

str

### variable Assignment

In [21]:
# Syntax
# varaible_name = variable_value

In [24]:
a = 10
a

10

In [25]:
type(a)

int

In [32]:
a1 = a + 2
a1

12

In [33]:
type(a1)

int

In [35]:
a1, a

(12, 10)

In [39]:
## Mathematical Operations

In [47]:
# Press shift+tab to get the information
x = 10
y = 20
x,y

(10, 20)

In [46]:
print(x+y)
print(y-x)
print(x*y)
print(y/x)
print(y%x)

30
10
200
2.0
0

In [49]:
## Various ways of printing the string
print("normal way")

normal way

In [55]:
## Dynamic way of printing the string
first_name = "Abhishek"
last_name = "Madiwale"

In [56]:
print("My first name is {} and my last name is {}".format(first_name, last_name)) ## in format ordering is very much important

My first name is Abhishek and my last name is Madiwale

In [58]:
print("My first name is {first} and my last name is {last}".format(last=last_name,first=first_name)) ## here order is not imp

My first name is Abhishek and my last name is Madiwale

In [60]:
len("Abhishek") # inbuild function to count the character

8