In [4]:
## First step to import panda

import pandas as pd
import numpy as np

## pandas help to create dataFrame
## dataFrame is combination of rows and columns

In [30]:
df = pd.DataFrame(np.arange(0,20).reshape(5,4),index=["Row1","Row2","Row3","Row4","Row5"], columns=["column1","Column2","Column3","Column4"])

In [31]:
df.head()

      column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [32]:
df.to_csv("test1.csv")

In [33]:
## Accessing the elements, we have 2 ways
## 1) .loc (loc of data) 2).iloc(index loc)

In [34]:
df.loc["Row1"]

column1    0
Column2    1
Column3    2
Column4    3
Name: Row1, dtype: int32

In [35]:
print(type(df.loc["Row1"]))

<class 'pandas.core.series.Series'>

In [48]:
df.iloc[0:3,0:2] ##fist is row number and 2nd is column no

      column1  Column2
Row1        0        1
Row2        4        5
Row3        8        9

In [51]:
## convert dataframes into array

df.iloc[:,1:].values   ## here .values will convert the data into arrays

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [52]:
df.isnull().sum()

column1    0
Column2    0
Column3    0
Column4    0
dtype: int64

In [55]:
df["column1"].uniqueque()

array([ 0,  4,  8, 12, 16])

In [56]:
df

      column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [59]:
df[["column1","Column3"]]

      column1  Column3
Row1        0        2
Row2        4        6
Row3        8       10
Row4       12       14
Row5       16       18