# Python data structures and Boolean
    1 - Boolean
    2 - Boolean and Logical Operator
    3 - List
    4 - Comparison Operator
    5 - Dictionaries
    6 - Tuples
    7 - Sets

### Boolean Operators

In [1]:
type(True)

bool

In [2]:
type(False)

bool

In [3]:
bool()

False

In [4]:
bool(1)

True

In [11]:
my_name = "Abhishek madiwale"

In [12]:
print(my_name.isalnum()) ##check if all char are number
print(my_name.isalpha()) ##check if all char in string are alphabetically
print(my_name.isdigit()) ##test if string contains digit
print(my_name.istitle()) ##test if string contains title word
print(my_name.isupper()) ##test if string contains upper case
print(my_name.islower()) ##test if string contains lower case
print(my_name.isspace()) ##test if string contains space 
print(my_name.endswith("e")) ##test if string is ends with e
print(my_name.startswith("a")) #test if string is starts with a

False
False
False
False
False
False
False
True
False

## Boolean and Logical Operator

In [13]:
True and True

True

In [14]:
True and False

False

In [17]:
False or False

False

In [18]:
False or True

True

In [19]:
my_name = "Abhishek"
str_example = "abc123"

In [20]:
my_name.isalpha() or str_example.isupper()

True

In [21]:
my_name.isalpha() and str_example.isupper()

False

## Lists

In [22]:
type([])

list

In [25]:
lst=list()

In [26]:
type(lst)

list

In [27]:
lst = ['Mathematics,', 100, 200, 'Physics', 33.33]

In [29]:
lst

['Mathematics,', 100, 200, 'Physics', 33.33]

In [34]:
len(lst)

5

In [35]:
lst.append("Abhishek")

In [36]:
lst

['Mathematics,', 100, 200, 'Physics', 33.33, 'Abhishek']

In [37]:
lst[2]

200

In [48]:
lst[1:] ##printing from index 1 till last element

[100, 200, 'Physics', 33.33, 'Abhishek']

## Insert

In [50]:
lst.insert(1,"IISC") ## inside insert 1st parameter is value of index and 2nd parameter is value

In [53]:
lst

['Mathematics,', 'IISC', 100, 200, 'Physics', 33.33, 'Abhishek']

## Extend Method

In [55]:
lst.extend([8,9])

In [56]:
lst

['Mathematics,', 'IISC', 100, 200, 'Physics', 33.33, 'Abhishek', 8, 9]

In [57]:
lst=[1,2,3,4,5]

In [59]:
sum(lst)

15

In [62]:
lst.pop(1) ##it will remove the element
## by default it will remove the last elements

3

In [63]:
lst

[1, 4, 5]

## count() : it will count the occurance of element

In [65]:
lst = [1,1,1,2,3,4,5]
lst.count(1)

3

In [66]:
len(lst)

7

In [67]:
## min and max
min(lst)

1

In [68]:
max(lst)

5